<!DOCTYPE html>
<html>
<head>
    <meta content="text/html" charset="UTF-8" http-equiv="Content-Type">
</head>
<body>
    <h1>Welcome to <%= @app_name %>, <%= @profile.full_name %></h1>

    <p>You successfully registered on our webite!</p>

    <%= image_tag asset_path 'imagine.png' %>
</body>
</html>