<header>
  <h2> <%= abc.title %></h2>
  <nav class="menu">
    <ul>
      <li><%= link_to "Project", projects_path %></li>
     <li><%= link_to "Categories", categories_path %></li>
      <li><%= link_to "Tasks", tasks_path %></li>
    </ul>
  <nav>
</header>